[defaults]
inventory = ./inventory.ini
host_key_checking = False
interpreter_python = /home/azureuser/venvs/ansible-venv/bin/python3
INTERPRETER_PYTHON_FALLBACK = []
deprecation_warnings = False


[ssh_connection]
ssh_args = -F /home/azureuser/.ssh/config
